---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Action Value Calculator">
  <main>
    <section>
      <div class="content">
        <h1>Action Value Calculator</h1>

		<hr>

        <form id="actionValueCalculator">
          <div class="form-section">
            <h3>1. Choose the base speed</h3>
            <div>
              <label for="character">
                <span class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 48 48"
                    ><path
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-miterlimit="2"
                      stroke-width="4"
                      d="M44 6H28v8h16zm0 8v22c0 1.11-.89 2-2 2H8c-2.21 0-4-1.79-4-4v-6c0-4.42 3.58-8 8-8h16v-6zM14 26v-6m7 6v-6m-6 22v-4m-7 4v-4m14 4v-4m12 4v-4m7 4v-4M23 20H12"
                    ></path></svg
                  >
                </span>
                Base speed
              </label>
              <input
                type="number"
                id="character"
                value="0"
                min="1"
                max="200"
              />
            </div>
          </div>
          <div class="form-section">
            <h3>2. Add bonuses <span class="optional">(optional)</span></h3>
            <div>
              <label for="flatSpeed">
                <span class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 14 14"
                    ><g
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      ><path d="M9.5 3.5h4v4"></path><path
                        d="M13.5 3.5L7.85 9.15a.5.5 0 0 1-.7 0l-2.3-2.3a.5.5 0 0 0-.7 0L.5 10.5"
                      ></path></g
                    ></svg
                  >
                </span>
                Flat bonus
              </label>
              <input
                type="number"
                id="flatSpeed"
                value="0"
              />
            </div>
            <div>
              <label for="percentSpeed">
                <span class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M7.5 11q-1.45 0-2.475-1.025T4 7.5t1.025-2.475T7.5 4t2.475 1.025T11 7.5T9.975 9.975T7.5 11m0-2q.625 0 1.063-.437T9 7.5t-.437-1.062T7.5 6t-1.062.438T6 7.5t.438 1.063T7.5 9m9 11q-1.45 0-2.475-1.025T13 16.5t1.025-2.475T16.5 13t2.475 1.025T20 16.5t-1.025 2.475T16.5 20m0-2q.625 0 1.063-.437T18 16.5t-.437-1.062T16.5 15t-1.062.438T15 16.5t.438 1.063T16.5 18M5.4 20L4 18.6L18.6 4L20 5.4z"
                    ></path></svg
                  >
                </span>
                Percent bonus
              </label>
              <input
                type="number"
                id="percentSpeed"
                value="0"
              />
            </div>
          </div>
          <div class="form-section">
            <h3>3. Choose the number of cycles</h3>
            <div>
              <label for="cycles">
                <span class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="m21.82 15.42l-2.5 4.33c-.49.86-1.4 1.31-2.32 1.25h-2v2l-2.5-4.5L15 14v2h2.82l-2.22-3.85l4.33-2.5l1.8 3.12c.52.77.59 1.8.09 2.65M9.21 3.06h5c.98 0 1.83.57 2.24 1.39l1 1.74l1.73-1l-2.64 4.41l-5.15.09l1.73-1l-1.41-2.45l-2.21 3.85l-4.34-2.5l1.8-3.12c.41-.83 1.26-1.41 2.25-1.41m-4.16 16.7l-2.5-4.33c-.49-.85-.42-1.87.09-2.64l1-1.73l-1.73-1l5.14.08l2.65 4.42l-1.73-1L6.56 16H11v5H7.4a2.51 2.51 0 0 1-2.35-1.24"
                    ></path></svg
                  >
                </span>
                Total cycles
              </label>
              <input
                type="number"
                id="cycles"
                value="0"
                min="0"
                max="8"
              />
            </div>
          </div>
          <input
            type="button"
            value="Calculate"
            id="submit"
          />
        </form>

        <p id="result"></p>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    min-height: 100%;
    padding-block: 5rem;
    background-color: hsl(var(--background) / 0.9);
  }

  section {
    display: grid;
    place-items: center;
  }

  h1,
  h2 {
    color: hsl(var(--important));
    text-align: center;
  }

  h3 {
    color: hsl(var(--text) / 0.9);
    margin-block-end: 0.25em;
  }

  hr {
	border-color: hsl(var(--dark-700));
  }

  .content {
    max-width: 600px;
    padding: 1rem;
    z-index: 0;
  }

  .content form {
    display: flex;
    flex-wrap: wrap;
	gap: .25rem;
  }

  form > :last-child {
    margin-block-start: 1rem;
  }

  .form-section {
    flex: 1 0 100%;
  }

  .form-section > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .form-section > div:has(input:is(:focus, :focus-visible)) label {
    color: hsl(var(--important));
    transition: color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .form-section label {
    flex: 1 0 13ch;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: hsl(var(--dark-900));
    margin-block-end: 0.25rem;
  }

  .form-section input {
    width: 100%;
    height: 3ch;

    padding-inline-start: 0.5rem;
    border: 0;
    border-radius: 0.25rem;

    font-family: monospace;
    font-weight: 900;
    font-size: 1rem;
  }

  .form-section input:is(:focus, :focus-visible) {
    outline: none;
    outline: 3px solid hsl(var(--important-100));
    outline-offset: 3px;
  }

  .form-section label:is(.focused) {
    translate: 0 0;
    transition: translate 150ms linear;
  }

  #submit {
    margin-inline: auto;
    padding: 0.5rem 1rem;
    background: hsl(var(--important));
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 0 hsl(var(--text));
    font-family: inherit;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
	cursor: pointer;
  }

  #submit:is(:active) {
    translate: 2px 2px;
    box-shadow: none;
  }
</style>

<script>
  import "../js/simpleAVCalculator.js";
</script>
