---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Action Value Calculator">
  <main>
    <section>
      <div class="content">
        <h1>Action Value Calculator</h1>

        <hr />

        <form id="actionValueCalculator">

          <!-- Base speed -->
          <div class="form-section">
            <h3>1. Choose the base speed</h3>
            <div>
              <label for="character">
                <span class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    ><g fill="none"
                      ><path
                        d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                      ></path><path
                        fill="currentColor"
                        d="M18.026 3.902a1 1 0 0 0-.717-.489c-.41 0-.853.324-1.327.673c-.117.086-.236.173-.357.258c-.542.377-1.164.72-1.696.828c-.83.17-1.783-.069-2.547-.41c-.87-.401-1.373.522-1.762 1.236c-.073.133-.142.26-.208.369c-.29.473-.655 1.037-1.07 1.606a1 1 0 0 0-1.04 1.313c-.308.378-.6.74-.877 1.087A1 1 0 0 0 5.29 11.84c-1.072 1.433-1.81 2.598-2.236 3.635c-.36.88-.514 1.703-.447 2.542c.067.827.342 1.597.727 2.376c.522 1.055 1.802 1.344 2.739.803l14.722-8.5a2 2 0 0 0 .732-2.732l-.5-.866l-6.062 3.5a1 1 0 0 1-1-1.732l6.062-3.5z"
                      ></path></g
                    ></svg
                  >
                </span>
                Base speed
              </label>
              <input
                type="number"
                id="character"
                value="0"
                min="0"
                max="200"
              />
            </div>
          </div>

          <!-- Bonuses -->
          <div class="form-section">
            <h3>2. Add bonuses <span class="optional">(optional)</span></h3>
            <div class="presets-container">
              <p>Presets</p>
              <div class="presets">
                <button class="presets-buttons" data-cycles="5" data-input="cycles">MoC</button>
                <button class="presets-buttons" data-cycles="3" data-input="cycles">PF</button>
              </div>
            </div>
            <div>
              <label for="flatSpeed">
                <span class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="m7.4 16l3.05-3.05l2 2L16 11.425V13h2V8h-5v2h1.575l-2.125 2.125l-2-2L6 14.6zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21z"
                    ></path></svg
                  >
                </span>
                Flat bonus
              </label>
              <input
                type="number"
                id="flatSpeed"
                value="0"
              />
            </div>
            <div>
              <label for="percentSpeed">
                <span class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M19 3H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14c1.11 0 2-.89 2-2V5a2 2 0 0 0-2-2M8.83 7.05c.98 0 1.77.79 1.77 1.78c0 .98-.79 1.77-1.77 1.77c-.99 0-1.78-.79-1.78-1.77c0-.99.79-1.78 1.78-1.78M15.22 17c-.98 0-1.77-.8-1.77-1.78s.79-1.77 1.77-1.77s1.78.79 1.78 1.77S16.2 17 15.22 17m-6.72.03L7 15.53L15.53 7l1.5 1.5z"
                    ></path></svg
                  >
                </span>
                Percent bonus
              </label>
              <input
                type="number"
                id="percentSpeed"
                value="0"
              />
            </div>
          </div>

          <!-- Cycles -->
          <div class="form-section">
            <h3>3. Choose the number of cycles</h3>
            <div class="presets-container">
              <p>Presets</p>
              <div class="presets">
                <button class="presets-buttons" data-cycles="5" data-input="cycles">MoC</button>
                <button class="presets-buttons" data-cycles="3" data-input="cycles">PF</button>
              </div>
            </div>
            
            <div>
              <label for="cycles">
                <span class="svg-container">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M12 17q1.9 0 3.3-1.25t1.65-3.1q.05-.275-.175-.462T16.25 12q-.275 0-.513.175t-.287.45q-.225 1.225-1.187 2.05T12 15.5q-1.45 0-2.475-1.025T8.5 12t1.025-2.475T12 8.5h.075l-.7.725q-.2.225-.213.525t.213.525t.538.225t.537-.225l2.1-2.1q.15-.15.15-.35t-.15-.35L12.425 5.35q-.225-.225-.525-.225t-.525.225t-.225.538t.225.537l.55.575q-2.05.05-3.488 1.5T7 12q0 2.075 1.463 3.538T12 17m0 5q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
                    ></path></svg
                  >
                </span>
                Total cycles
              </label>
              <input
                type="number"
                id="cycles"
                value="0"
                min="0"
                max="8"
              />
            </div>
          </div>

          <!-- Submit -->
          <input
            type="button"
            value="Calculate"
            id="submit"
          />
        </form>

        <p id="result"></p>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    min-height: 100%;
    padding-block: 5rem;
    background-color: hsl(var(--background) / .95);
  }

  section {
    display: grid;
    place-items: center;
  }

  h1,
  h2 {
    color: hsl(var(--important));
    text-align: center;
  }

  h3 {
    color: hsl(var(--text) / 0.9);
    margin-block-end: 0.25em;
  }

  hr {
    border-color: hsl(var(--dark-700));
  }

  .content {
    max-width: 600px;
    padding: 1rem;
    z-index: 0;
  }

  .content form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  form > :last-child {
    margin-block-start: 1rem;
  }

  .form-section {
    flex: 1 0 100%;
  }

  .form-section > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .form-section > div:has(input:is(:focus, :focus-visible)) label {
    color: hsl(var(--important));
    transition: color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .form-section :is(label) {
    flex: 1 0 13ch;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: hsl(var(--dark-900));
    margin-block-end: 0.25rem;
  }

  .form-section .presets {
    flex: 1 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
  }

  .presets-container p {
    display: flex;
    align-items: center;
    width: 13ch;
    color: hsl(var(--text) / .8);
  }

  .presets-buttons {
    padding: .25rem .5rem;
    color: hsl(var(--text) / .5);
    background-color: hsl(var(--dark-700));
    border: none;
    border-radius: .25rem;
    font-size: .9rem;
    font-weight: 900;
    cursor: pointer;
    user-select: none;
  }

  .presets-buttons:is(:active) {
    scale: .95;
  }

  .presets-buttons:is(.pressed) {
    color: hsl(var(--background));
    background-color: hsl(var(--important-700));
  }

  .presets-buttons:is(.pressed):active {
    scale: 1;
  }

  .form-section :is(input) {
    width: 100%;
    height: 3ch;

    padding-inline-start: 0.5rem;
    border: 0;
    border-radius: 0.25rem;

    font-family: monospace;
    font-weight: 900;
    font-size: 1rem;
  }

  .form-section input:is(:focus, :focus-visible) {
    /* outline: none; */
    background-color: hsl(var(--important-700));
  }

  .form-section label:is(.focused) {
    translate: 0 0;
    transition: translate 150ms linear;
  }

  #submit {
    margin-inline: auto;
    padding: 0.5rem 1rem;
    background: hsl(var(--important));
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 0 hsl(var(--text));
    font-family: inherit;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  #submit:is(:active) {
    translate: 2px 2px;
    box-shadow: none;
  }
</style>

<script>
  import "../js/simpleAVCalculator.js";
  import "../js/cyclesPreset.js";
</script>
